.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index: 200;
  padding-top: 5;
  
}
.sidebar-link {
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:11px;
  cursor: pointer;
  
}
.sidebar-link:hover {
  background-color: rgb(238, 238,238);
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div {
 font-family: Roboto, Arial;
 font-size: 10px;
}
